.botao {
    background-color: rgb(48, 45, 45);
    border-radius: 7px;
    font-weight: 700;
    font-size: 16px;
    padding: 20px;
    border: none; 
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin: 0px 20px;
    float: right;
    margin-bottom: 10px;
}

.botao:hover {
    color: rgb(241, 241, 250);
}